.App {
  text-align: center;
  margin: auto;

  width: 700px;
  box-shadow: 0 0.2rem 0.25rem rgba(131, 23, 23, 0.2);
  padding: 20px;
  background-color: rgb(245, 245, 245);
  border-radius: 5px;
}
p {
  display: flex;
  justify-content: flex-end;
  margin: auto;

  color: #1f3044;

  border: 3px solid #a2a397;
  padding: 20px;
  width: 200px;
}
  .imgSrc { max-height: 300px;
    max-height: 300px;

}
.btn {
  padding: 10px 20px;
  margin: 20px;
  font-size: 20px;
  cursor: pointer;
  width: 300px;
  background-color: rgb(224, 224, 66);
  color: white;
  border-radius: 7px;
  border: none;
  outline: none;
}
